<% content_for :css do %>
<%= stylesheet_link_tag    'style' %>
<%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
<%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
<% end %>

<% content_for :js do %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
<% end %>

<div class="login-driver">
  <div class="login-driver-item">
    <div class="login-driver-table">
      <div class="login-driver-table-header">
        <h2>Welcome to</h2>
        <%= image_tag 'logo.png' %>
      </div>
      <div class="login-driver-table-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </div>
          <div class="login-driver-submit">
            <%= f.submit "Log In", class: "login-driver-submit-button" %>
          </div>
        <% end %>
        <div class="driver-sign-up">
          <p>Haven't register?</p>
          <%= link_to "Register Here!", new_driver_registration_path %></p>
        </div>
      </div>
    </div>

  </div>
  <div class="login-driver-item logo-driver">
    <%= image_tag 'login_driver/logo_driver.png' %>
  </div>
</div>



