<% content_for :css do %>
<%= stylesheet_link_tag    'style' %>
<%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
<%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
<% end %>

<% content_for :js do %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
<%= javascript_include_tag 'main_login_page.js' %>
<% end %>

<div class="main-home-page">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<%= link_to image_tag("logo.png"), driver_home_url %>
			</li>
			<li class="order-nav-item">
				<%= link_to "Home", driver_home_url, class: 'active' %>
			</li>
			<li class="order-nav-item">
				<%= link_to "Find Job", job_path %>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html.erb">History</a>
			</li>
			<li class="order-nav-item">
				<%= link_to "My Account", driver_profile_path %>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><%= image_tag 'order/login_icon.png' %></li>
					<li><%= link_to "Logout", destroy_driver_session_path, :method => :delete %></li>
				</ul>				
			</li>
		</ul>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 home-page-welcome home-page-bg-lightblue">
					<h2>WELCOME TO</h2>
					<div>
						<%= image_tag 'logo.png' %>
					</div>
				</div>
				<div class="col-lg-2 home-page-bg-lightblue">
					<%= image_tag 'main_home_page/driver_icon.png' %>
				</div>
				<div class="col-lg-2 home-page-bg-lightblue">
					<%= image_tag 'main_home_page/driver_icon.png' %>
				</div>
				<div class="col-lg-3 home-page-start-work">
					<%= link_to job_path do %>
						<div class="start-work-circle">
							<p>START</p>
							<p>WORKING</p>
							<p><i class="fas fa-key"></i></p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
