<% content_for :css do %>
  <%= stylesheet_link_tag    'https://unpkg.com/leaflet@1.2.0/dist/leaflet.css' %>
  <%= stylesheet_link_tag    'leaflet-routing-machine' %>
  <%= stylesheet_link_tag    'job' %> 
  <%= stylesheet_link_tag    'style' %>  
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'https://unpkg.com/leaflet@1.2.0/dist/leaflet.js' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBa_JzzSA9iylcZqkcVOEs6J_sTLVOg_fE&libraries=places' %>
  <%= javascript_include_tag 'https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js' %>
  <%= javascript_include_tag 'jquery.geocomplete' %>
  <%= javascript_include_tag 'leaflet-routing-machine' %>
  <%= javascript_include_tag 'leaflet.smoothmarkerbouncing' %>
  <%= javascript_include_tag 'lrm-google' %>
  <%= javascript_include_tag 'polyline' %>
  <%= javascript_include_tag 'job' %>
  <%= javascript_include_tag 'https://momentjs.com/downloads/moment.js' %>
  <%= javascript_include_tag 'cable' %>
<% end %>

<div class="container-fluid">

  <ul class="order-nav">
    <li class="order-nav-item order-logo">
      <%= link_to image_tag("logo.png"), driver_home_url %>
    </li>
    <li class="order-nav-item">
      <%= link_to "Home", driver_home_url %>
    </li>
    <li class="order-nav-item">
      <%= link_to "Find Job", job_path, class: 'active' %>
    </li>
     <li class="order-nav-item">
      <%= link_to "History", driver_history_path %>
    </li>
    <li class="order-nav-item">
      <%= link_to "My Account", driver_profile_path %>
    </li>
   
    <li class="order-nav-item order-account">
      <ul>
        <li><%= image_tag 'order/login_icon.png' %></li>
        <li><%= link_to "Logout", destroy_driver_session_path, :method => :delete %></li>
      </ul>       
    </li>
  </ul>


  <div id='main-map'></div>
  <div class="row">
    <div class="col col-lg-4 text-center" id="job-div">
      <div id="circle">
        <span id="circle-text">FIND A CUSTOMER NEARBY</span>
      </div>
      <div id="choices"></div>
    </div>
    <div class="col col-lg-8 text-center" id="information-div">
      <%= image_tag 'order/navigation.svg', alt: 'navigation', id: 'img-nav' %>
      <span id="title">YOUR LOCATION</span>
      <div id="pickup">
        <%= image_tag 'order/current_marker.png', class: 'img-location' %>
        <span>Your Location</span>
        <br>
        <span id="pickup-loc"></span>
      </div>
      <div id="dest" style="display: none;"> 
        <%= image_tag 'order/destination_marker.png', class: 'img-location' %>
        <span>Destination Location</span>
        <br>
        <span id="dest-loc"></span>
      </div>
      <div id="detail" style="display: none;"></div>
    </div>
  </div>
  <div id="chat-div" class="text-center"></div>
</div>

<!-- modal chat -->
<div class="modal fade" id="modal-chat">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Feel Free to Chat Your Driver</h4>
      </div>
      <div class="modal-body">
        <div class="mesgs">
          <div class="msg_history"></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" id="driver_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button" id="btnSendChat"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
        <p class="text-center top_spac">Design by Sunil Rajput</p>
      </div>
    </div>
  </div>
</div>

<div id="overlay">
  <div id="text" class="text-center">
    Searching...
    <br>
    Click anywhere to cancel
  </div>
</div>
