<% content_for :assets do %>
	<%= stylesheet_link_tag    'style' %>
	<%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
	<%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
<% end %>

<% content_for :js do %>
	<%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
	<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
<% end %>

<div class="profile-driver">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<a href="#"><%= image_tag 'logo.png' %></a>		
			</li>
			<li class="order-nav-item">
				<%= link_to "My Account", driver_profile_path %>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html.erb">History</a>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><%= image_tag 'order/login_icon.png' %></li>
					<li>
						<a href="profile_driver.html.erb"><%= current_driver.name %></a>
					</li>
				</ul>				
			</li>
		</ul>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 profile-driver-portrait profile-driver-item">
					<div class="profile-driver-portrait-image">
						<%= image_tag 'profile_driver/profile.png' %>
					</div>
					<!-- <button onclick="window.location ='profile_driver_edit.html';">Edit Profile</button> -->
					<button><%= link_to "Edit Profile", edit_driver_registration_path %></button>

				</div>
				<div class="col-lg-5 profile-driver-detail profile-driver-item">
					<div class="profile-driver-detail-item">
						<%= image_tag 'profile_driver/email_icon.png' %>
						<span class="profile-driver-detail-item-input"><%= current_driver.email %></span>
					</div>
					<div class="profile-driver-detail-item">
						<%= image_tag 'profile_driver/name_icon.png' %>
						<span class="profile-driver-detail-item-input"><%= current_driver.name %></span>
					</div>
					<div class="profile-driver-detail-item">
						<%= image_tag 'order/call_icon.png' %>
						<span class="profile-driver-detail-item-input"><%= current_driver.phone %></span>
					</div>
					<div class="profile-driver-detail-item">
						<%= image_tag 'profile_driver/email_icon.png' %>
						<span class="profile-driver-detail-item-input"><%= current_driver.license_plate %></span>
					</div>
				</div>
				<div class="col-lg-4 profile-driver-rating profile-driver-item">
					<p>75% Rating Scale</p>
					<div class="profile-driver-rating-star">
						<%= image_tag 'order/star.png' %>
						<%= image_tag 'order/star.png' %>
						<%= image_tag 'order/star.png' %>
						<%= image_tag 'order/half_star.png' %>
						<%= image_tag 'order/empty_star.png' %>
					</div>
				</div>
			</div>
		</div>
		
	</div>

<%= current_driver.dob %>

<%= link_to "Back", driver_home_url %>
